Repository 0xPolygon/wiki, pull requests merged in 2023-10, with the labels that each got.

#118 feat(pos): pol
  docs/pos/assets/matic.md
  docs/pos/assets/pol.md
  docusaurus.config.js
  sidebars.js
Labels: pos:mainnet, type:new

#127 feat(cdk): allowlists
  docs/cdk/validium/allowlists.md
  redirects.js
  sidebars.js
Labels: need:review, type:new, cdk

#129 chore(zkEVM): rmv temp ethglobal guide from quickstart
  docs/zkevm/develop.md
Labels: need:review, type:chore, zk:zkevm

#132 fix: download/extract script
  docs/pos/reference/snapshot-instructions-heimdall-bor.md
Labels: pos:mainnet, type:enhancement

#130 Update rpc-endpoints.md
  docs/pos/reference/rpc-endpoints.md
Labels: ext:infra, type:footprint

#134 fix(ui): add mobile responsive to landing page
  src/css/custom.css
Labels: type:enhancement

#131 feat(edge): v1.3
  docs/edge/operate/benchmarks.md
  docs/edge/operate/deploy/access-control/allowlist-general.md
  docs/edge/operate/deploy/custom-bridge.md
  docs/edge/operate/deploy/genesis-validators.md
  docs/edge/operate/deploy/genesis.md
  docs/edge/operate/deploy/index.md
  docs/edge/operate/deploy/local-chain.md
  docs/edge/operate/deploy/rootchain-config.md
  docs/edge/operate/deploy/staking/stake.md
  docs/edge/operate/deploy/staking/unstake.md
  docs/edge/operate/deploy/start-chain.md
  docs/edge/operate/ibft-to-polybft.md
  docs/edge/operate/install.md
  docs/edge/operate/param-reference.md
  docs/pos/governance-posv1.md
Labels: need:review, pos:edge(prev.supernets), type:enhancement

#107 Add support to deploy polygon supernets on GCP
  docs/edge/operate/deploy/index.md
Labels: pos:edge(prev.supernets), type:enhancement

#139 update(edge): v1.3 quickstart
  docs/edge/operate/quickstart.md
Labels: need:review, pos:edge(prev.supernets), type:enhancement

#140 update(edge): add context for proxy admin in deployment considerations
  docs/edge/operate/deploy/rootchain-config.md
Labels: need:review, pos:edge(prev.supernets), type:enhancement

#141 Update Deploy Full zkEVM docs
  docs/zkevm/deploy-fullzkevm.md
  docs/zkevm/setup-goerlinode.md
  docs/zkevm/step2-fullzkevm.md
  docs/zkevm/step3-fullzkevm.md
  docs/zkevm/step4-fullzkevm.md
  docs/zkevm/step5-fullzkevm.md
  docs/zkevm/step6-fullzkevm.md
Labels: type:enhancement, zk:zkevm

#142 update(pol): polish faqs
  docs/pos/assets/pol.md
Labels: need:review, type:enhancement

#143 Update step4-fullzkevm.md
  docs/zkevm/step4-fullzkevm.md
Labels: type:footprint, zk:zkevm

#144 Simplifies Wallet Link tutorial
  docs/tools/wallets/metamask/config-polygon-on-wallet-link.md
  sidebars.js
Labels: ext:wallet, type:footprint

#135 Adds Particle Network to list of wallets
  docs/tools/wallets/getting-started.md
  docs/tools/wallets/particle-network.md
  sidebars.js
Labels: ext:wallet, type:footprint, type:new

#154 fixing hyperlink in deployment-differences.md
  docs/cdk/validium/deployment-differences.md
Labels: type:footprint, cdk

#153 Update-rpc-endpoints-add-1rpc-polygon-support
  docs/pos/reference/rpc-endpoints.md
Labels: pos:mainnet, type:footprint

#156 update(pos): tweaks to pol faqs
  docs/pos/assets/pol.md
Labels: pos:gov, pos:mainnet, type:enhancement

#158 update: typo in pol.md
  docs/pos/assets/pol.md
Labels: pos:mainnet, type:footprint

#145 Adds Umbrella Network to Get Started
  docs/tools/data/the-graph/graph-entities.md
  docs/tools/oracles/getting-started.md
Labels: need:review, pos:mainnet, type:footprint

#155 Adding LXLY Bridge doc
  docs/cdk/validium/deployment-differences.md
  docs/zkevm/protocol/figures/lxly-1-v1-asset-transfer.png
  docs/zkevm/protocol/figures/lxly-2-new-bridge-design.png
  docs/zkevm/protocol/figures/lxly-3-flow-rollupmanager.png
  docs/zkevm/protocol/lxly-bridge.md
  sidebars.js
Labels: need:review, zk:zkevm

#165 Updated to reflect PIP-26
  docs/pos/assets/pol.md
Labels: pos:mainnet, type:footprint

#168 Update /docs/zkevm/guides/using-foundry.md.
  docs/zkevm/guides/using-foundry.md
Labels: type:enhancement, zk:zkevm

#167 Update submit-mapping-request.md
  docs/pos/design/bridge/ethereum-polygon/submit-mapping-request.md
Labels: pos:mainnet, type:enhancement

#175 Update the-processor.md
  docs/zkevm/zkProver/the-processor.md
Labels: type:footprint, zk:zkevm
