Repository 0xPolygon/wiki, pull requests merged in 2023-09, with the labels that each got.

#97 fixes PoS link
  docs/pos/features.js
Labels: pos:mainnet, type:footprint

#98 overlapping text to iframe issue solved
  docs/zkevm/landing.js
Labels: type:enhancement

#96 Update run-validator.md
  docs/pos/operate/validator/run-validator.md
Labels: pos:mainnet, type:footprint

#114 feat: add flair as data indexing tool
  docs/tools/data/flair.md
  sidebars.js
Labels: ext:data, type:new

#115 Update transaction-batching.md
  docs/zkevm/protocol/transaction-batching.md
Labels: type:footprint, zk:zkevm

#116 update(cdk): revamp follow-1
  docs/cdk/edge/design/blockchain.md
  docs/cdk/edge/interfaces/staking/stake-manager.md
  docs/cdk/program.md
  docs/cdk/validium/deployment-differences.md
  docs/cdk/what-is-polygon-cdk.md
  docs/pos/quickstart.md
  docs/zkevm/develop.md
  docusaurus.config.js
  redirects.js
  sidebars.js
  src/data/features.js
Labels: type:chore, type:enhancement, cdk

#117 chore(wiki): redirect temp update & update deps
  package.json
  redirects.js
  yarn.lock
Labels: type:chore, type:enhancement

#119 update(cdk): revamp follow-2
  archive/edge/README.md
  docs/cdk/edge/design/blockchain.md
  docs/cdk/edge/design/bridge/assets/erc/erc1155.md
  docs/cdk/edge/design/bridge/assets/erc/erc20.md
  docs/cdk/edge/design/bridge/assets/erc/erc721.md
  docs/cdk/edge/design/bridge/checkpoint.md
  docs/cdk/edge/design/bridge/overview.md
  docs/cdk/edge/design/bridge/statesync.md
  docs/cdk/edge/design/consensus/polybft/ibft.md
  docs/cdk/edge/design/consensus/polybft/overview.md
  docs/cdk/edge/design/consensus/polybft/protocol.md
  docs/cdk/edge/design/overview.md
  docs/cdk/edge/design/runtime/allowlist.md
  docs/cdk/edge/design/runtime/overview.md
  docs/cdk/edge/faq.md
  docs/cdk/edge/interfaces/staking/supernet-manager.md
  docs/cdk/edge/operate/deploy/access-control/allowlist-general.md
  docs/cdk/edge/operate/deploy/genesis-validators.md
  docs/cdk/edge/operate/deploy/genesis.md
  docs/cdk/edge/operate/deploy/index.md
  docs/cdk/edge/operate/deploy/local-chain.md
  docs/cdk/edge/operate/deploy/rootchain-config.md
  docs/cdk/edge/operate/deploy/staking/unstake.md
  docs/cdk/edge/operate/deploy/start-chain.md
  docs/cdk/edge/operate/deploy/transfers/deposit.md
  docs/cdk/edge/operate/deploy/transfers/withdraw.md
  docs/cdk/edge/operate/deploy/upgrades/hardfork.md
  docs/cdk/edge/operate/param-reference.md
  docs/cdk/edge/operate/quickstart.md
  docs/cdk/edge/operate/system.md
  docs/cdk/edge/what-is-edge.md
  docs/cdk/features.js
  package.json
  redirects.js
  sidebars.js
  yarn.lock
Labels: type:enhancement, cdk

#120 Update filecoinhelpers.md
  docs/tools/storage/filecoinhelpers.md
Labels: ext:tool, type:footprint

#123 update-temp(zkevm): using zkEVM quickstart guide to capture content for ethglobal nyc hackathon
  docs/zkevm/develop.md
Labels: P0, type:enhancement, zk:zkevm

#124 update(readme): quick fixes reg. cdk content
  README.md
Labels: type:footprint

#125 fix typos
  docs/edge/operate/deploy/custom-bridge.md
  docs/edge/operate/deploy/transfers/deposit.md
  docs/edge/operate/deploy/transfers/withdraw.md
  docs/tools/oracles/api3.md
  docs/tools/oracles/bandchain.md
  docs/tools/oracles/bandstandarddataset.md
  docs/zkevm/step5-fullzkevm.md
Labels: type:footprint
